.products-items {
  border: 2px solid green;
  padding: 15px;
  margin: 15px;
  list-style: none;
  box-shadow: 1px 2px 3px 4px sandybrown;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
  justify-content: space-evenly;
}
